<div class="container">
  <div class="d-flex align-items-center justify-content-between">
    <div class="title-1">Become a Global Job Consultant</div>
    <button class="button-3" style="white-space: nowrap; padding: 5px" routerLink="/login">SIGN IN</button>
  </div>

  <div class="p-1">Are you passionate about helping individuals find their dream jobs? Do you have a knack for guiding
    and advising
    others in their career pursuits? If so, we invite you to join our team of dedicated job consultants who are making a
    positive impact on lives around the world. At <b>Job Seeker</b>, we believe in providing free job consulting
    services to empower job seekers in their quest for meaningful employment.
  </div>

  <div class="subtitle-1">Why Join Us?</div>
  <ul>
    <li class="p-1"><strong>Meaningful Impact:</strong> As a job consultant with us, you'll be making a real difference in people's lives
      by helping them
      navigate the complexities of the job market and offering valuable career advice.</li>
    <li class="p-1"><strong>Global Reach:</strong> Our services extend across the globe, allowing you to connect with individuals from
      diverse backgrounds
      and cultures, broadening your horizons and enriching your own understanding of the job market.</li>
    <li class="p-1"><strong>Flexible Engagement:</strong> Whether you're a seasoned professional or just starting in the consulting field,
      our platform
      offers a flexible engagement model that suits your availability and expertise.</li>
    <li class="p-1"><strong>Professional Growth:</strong> Join a community of like-minded consultants, and through collaboration and
      knowledge sharing,
      you'll have the opportunity to enhance your own consulting skills and grow as a career advisor.</li>
  </ul>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="subtitle-1">Application Process</div>
      <ul>
        <li class="p-1"><strong>Fill out the Application Form:</strong> Start your journey by completing our straightforward application form.
          This will help
          us get to know you better and understand your motivations for becoming a job consultant.</li>
        <li class="p-1"><strong>Application Review:</strong> Our team will review your application to ensure it meets our criteria and aligns
          with our mission
          of providing quality job consulting services.</li>
        <li class="p-1"><strong>Interview Arrangement:</strong> If your application is successful, we'll reach out to you to schedule an
          online interview. The
          interview will be conducted through platforms like Zoom, Teams, or Google Meetings, making it convenient for you to
          participate from anywhere in the world.</li>
        <li class="p-1"><strong>Orientation and Training:</strong> Once you're accepted into our consultant community, we'll provide you with
          an orientation to
          familiarize you with our processes and guidelines. Although experience is valued, we also offer training resources
          to
          ensure all our consultants are well-prepared.</li>
        <li class="p-1"><strong>Start Consulting:</strong> After completing your orientation and any necessary training, you'll be ready to
          start offering your
          consulting services to job seekers. We'll connect you with individuals seeking guidance, and you can begin making a
          positive impact.</li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-6">
      <img src="./assets/images/sec-about.webp" alt="banner">
    </div>
  </div>

  <div class="subtitle-1">Ready to Get Started?</div>

  <div class="p-1">Join us in our mission to empower job seekers worldwide with the guidance they need to excel in their
    careers. To
    become a consultant, simply complete our application form and take the first step towards making a meaningful
    difference in people's lives.
  </div>

  <div routerLink="/become-a-consultant-application" class="apply-now">Apply Now</div>

  <div class="p-1">If you have any questions, feel free to reach out to our team at <a href="mailto:support@jobseeker.com">support@jobseeker.com</a>. We
    look forward to
    welcoming you to our team of passionate job consultants dedicated to shaping brighter futures!
  </div>
</div>
