<div class="top-bar sticky-top">
  <div class="logout"><span title="Logout" (click)="logout()">Log Out</span></div>
  <div class="row">
    <div class="col-6 col-md-3">
      <button class="button-3" routerLink="appointments">Appointment Requests</button>
    </div>
    <div class="col-6 col-md-3">
      <button class="button-3" routerLink="unavailable-dates">Set Unavailable Dates</button>
    </div>
    <div class="col-6 col-md-3">
      <button class="button-3" routerLink="approved-appointments">Approved List</button>
    </div>
    <div class="col-6 col-md-3">
      <button class="button-3" routerLink="settings">Settings</button>
    </div>
  </div>
</div>

<div class="container" style="padding: 15px 0">
  <router-outlet></router-outlet>
</div>

