<div class="heading">
  <div>
    <button class="button-1" (click)="drawer.toggle()"><mat-icon>reorder</mat-icon></button>
    <img src="./assets/images/logo.png" alt="logo">
  </div>
  <div class="d-flex">
    <button class="button-2">Become Consultant</button>
    <div class="d-none d-sm-block" style="margin-left: 15px">
      <div class="d-flex flex-column">
        <span>Hotline: +94773431660</span>
        <span>Email: sample@gmail.com</span>
      </div>
    </div>
  </div>
</div>
<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer mode="over" class="drawer">
    <span>MENU</span>
    <ul>
      <li>nav item</li>
      <li>nav item</li>
      <li>nav item</li>
      <li>nav item</li>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>


