<div class="heading">
  <div>
    <button class="button-1" (click)="drawer.toggle()"><mat-icon>reorder</mat-icon></button>
    <img src="./assets/images/logo.png" alt="logo" routerLink="/home">
  </div>
  <div class="d-flex">
    <button class="button-2" routerLink="/become-a-consultant">Become a Consultant</button>
    <div class="d-none d-sm-block" style="margin-left: 15px">
      <div class="d-flex flex-column">
        <span><a href="tel:+94773431660">Hotline: +94 77 343 1660</a></span>
        <span><a href="mailto:sample@gmail.com">Email: sample@gmail.com</a></span>
      </div>
    </div>
  </div>
</div>
<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer mode="over" class="drawer">
    <span>MENU</span>
    <ul>
      <li>nav item</li>
      <li>nav item</li>
      <li>nav item</li>
      <li>nav item</li>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>


