<table class="table table-hover">
  <div *ngIf="loading" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;">
    <div class="d-flex align-items-center justify-content-center w-100 h-100">
      <div class="d-flex flex-column align-items-center justify-content-center"
           style="width: 80%; padding: 30px; border: 1px solid #13E8E9; border-radius: 25px; background-color: rgba(255,255,255,.5)">
        <img src="./assets/images/asset/small_loading.gif" alt="loading" title="Loading" width="60" height="60">
        <div class="loading-count" style="color: black">Deleting...</div>
      </div>
    </div>
  </div>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Ban Account</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let c of consultants">
    <td>{{c.name}}</td>
    <td title="Send an email"><a href="mailto:{{c.email}}">{{c.email}}</a></td>
    <td title="Give a call"><a href="tel:{{c.phone}}">{{c.phone}}</a></td>
    <td>{{c.address}}</td>
    <td><button class="button-3" (click)="deleteUser(c.email.trim())"><mat-icon>remove</mat-icon></button></td>
  </tr>
  </tbody>
</table>
