<div class="top-bar sticky-top">
  <div class="d-flex">
    <div class="p-1" routerLink="settings">Settings</div>
    <div class="p-1" (click)="logout()">Log Out</div>
  </div>
  <div class="row">
    <div class="col-6 col-md-3">
      <button class="button-3" routerLink="interview">Interview Requests</button>
    </div>
    <div class="col-6 col-md-3">
      <button class="button-3" routerLink="add-new">Add Consultants</button>
    </div>
    <div class="col-6 col-md-3">
      <button class="button-3" routerLink="consultant-list">View Consultants List</button>
    </div>
    <div class="col-6 col-md-3">
      <button class="button-3" routerLink="requests">Job Seeker Requests</button>
    </div>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
